@import '../defaults/vars';
@import '../defaults/mixins';

$break-large-phone: 570px;

.footer {
  @include grid-container;
  padding: ($baseline * 2) 0;
  background-color: $clr-body;
  p {
    color: $clr-light;
  }
}

.footer__staff {
  @include grid-column(1);
  @include grid-container;
  @include grid-no-gutter;
  padding-top: 0;

  li {
    @include grid-column(1);
    margin-bottom: $baseline * 2;
    @include grid-media($break-large-phone) {
      @include grid-column(1/2);
      margin-bottom: $baseline * 2;
    }
  }

  @include grid-media($break-desktop) {
    @include grid-column(2/3);
  }
}
.staff__contact {
  a {
    color: $clr-hyperlink-lt;

    &:hover {
      color: lighten($clr-hyperlink-lt, 10%);
    }
  }
}
.staff__name {
  display: block;
  color: $clr-secondary-lt;
  font-size: 1.8rem;
}
.staff__title {
  display: block;
}

.footer__text {
  @include grid-column(1);
  @include grid-container;
  @include grid-no-gutter;

  @include grid-media($break-desktop) {
    @include grid-column(1/3);
  }
}
.footer__copyright {
  @include grid-column(1);
  @include grid-media($break-large-phone) {
    @include grid-column(1/2);
  }
  @include grid-media($break-desktop) {
    @include grid-column(1);
  }
}

.footer__partnership {
  font-size: 1.8rem;
  font-family: $slab;
  line-height: 4rem;

  @include grid-column(1);

  @include grid-media($break-large-phone) {
    @include grid-column(1/2);
    margin-top: $baseline * 2;
  }

  @include grid-media($break-desktop) {
    @include grid-column(1);
  }

  img {
    @include position(relative, 14.5px null null 2px);
    margin-top: -40px;
  }
}
