@import '../defaults/vars';
@import '../defaults/mixins';

.header__logo {
  background-color: $clr-light;
  background-color: transparentize($clr-light, 0.35);
  display: block;
  font-size: 3.2rem;
  line-height: $baseline * 2;
  padding: 0.5em 1.0em 0.25em 1.0em;
  text-align: center;
  width: 100%;

  @include grid-media($break-desktop) {
    text-align: left;
  }

  svg {
    height: 48px;
    margin: 0 0.5em;
  }
}

.header__lead {
  color: $clr-light;
  display: flex;
  flex-direction: column;
  flex: 1;
  font-size: 2.7rem;
  font-style: italic;
  justify-content: flex-end;
  line-height: $baseline * 3;
  margin-top: 3px;
  max-width: 600px;
  padding: $baseline * 3 0.5em;
  text-align: center;
  text-shadow: 0 1px 2px transparentize($clr-primary-dk, 0);

  @include grid-media($break-desktop) {
    font-size: 4.2rem;
    line-height: $baseline * 5;
    max-width: 768px;
  }
}

header {
  align-items: center;
  height: $row * 6;
  background-color: $clr-primary;
  background-image: url('../images/splash/beach2-wide-dark-1024.jpg');
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;

  @include grid-media($break-desktop) {
      background-image: url('../images/splash/beach2-wide-dark-3k.jpg');
    height: $row * 8;
  }

  @include grid-media($break-wide) {
    height: $row * 10;
  }
}
